<div class="wrapper">
  <h1>아임포트 결제 테스트</h1>

  <form [formGroup]="paymentForm" class="payment-form" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div>
      <label for="pg">PG사</label>
      <select
          formControlName="pg"
          id="pg"
          (change)="onChangePg(selectedPg.value)"
          #selectedPg
          required
      >
        <option *ngFor="let pg of PgOption" [value]="pg.value">
          {{ pg.label }}
        </option>
      </select>
    </div>
    <div>
      <label for="method">결제수단</label>
      <select
          formControlName="pay_method"
          id="method"
          (change)="onChangeMethod(selectedMethod.value)"
          #selectedMethod
          required
      >
        <option *ngFor="let method of MethodOption" [value]="method.value">
          {{ method.label }}
        </option>
      </select>
    </div>
    <div *ngIf="isQuotaRequired">
      <label for="quotas">할부개월수</label>
      <select formControlName="card_quota" id="quotas">
        <option *ngFor="let quota of QuotaOption" [value]="quota.value">
          {{ quota.label }}
        </option>
      </select>
    </div>
    <div *ngIf="isVbankDueRequired">
      <label for="vbankDue">입금기한</label>
      <input formControlName="vbank_due" id="vbankDue" type="number" placeholder="YYYYMMDDhhmm"/>
    </div>
    <div *ngIf="isBizNumRequired">
      <label for="bizNum">사업자번호</label>
      <input formControlName="biz_num" id="bizNum" type="number"/>
    </div>
    <div *ngIf="isDigitalRequired">
      <label for="digital">실물여부</label>
      <mat-slide-toggle formControlName="digital" id="digital"></mat-slide-toggle>
    </div>
    <div>
      <label for="escrow">에스크로</label>
      <mat-slide-toggle formControlName="escrow" id="escrow"></mat-slide-toggle>
    </div>
    <div>
      <label for="name">주문명</label>
      <input matInput formControlName="name" id="name"/>
    </div>
    <div>
      <label for="amount">결제금액</label>
      <input matInput formControlName="amount" id="amount"/>
    </div>
    <div>
      <label for="merchantUid">주문번호</label>
      <input matInput formControlName="merchant_uid" id="merchantUid"/>
    </div>
    <div>
      <label for="buyerName">이름</label>
      <input matInput formControlName="buyer_name" id="buyerName"/>
    </div>
    <div>
      <label for="buyerTel">전화번호</label>
      <input matInput formControlName="buyer_tel" id="buyerTel"/>
    </div>
    <div>
      <label for="buyerEmail">이메일</label>
      <input matInput formControlName="buyer_email" id="buyerEmail"/>
    </div>
    <br/>
    <button mat-raised-button type="submit">결제하기</button>
  </form>
</div>
